<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Veilza Kinsemi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A site where you can view everything about Veilza!">
        <meta content="A site where you can view everything about Veilza!" property="og:description" />
        <meta content="Veilza Kinsemi" property="og:title" />
        <meta content="https://veilza.github.io/" property="og:url" />
        <meta content="https://veilza.github.io/butterfly.webp" property="og:image" />
        <meta content="#221C35" data-react-helmet="true" name="theme-color" />
        <link rel="icon" href="/butterfly.ico"/>
        <link rel="preload" as="image" href="/butterfly.webp"/>
        <link rel="preload" as="image" href="/chibi.webp"/>
    </head>
    <noscript>
        <strong>Unfortunately, this website doesn't work without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <body>
        <div id="app"></div>
    </body>
</html>
